<template>
  <div class="container">
    <header>
      <nuxt-link to="/">
        <h1 class="title">Web Utilities</h1>
      </nuxt-link>
    </header>
  </div>
</template>

<script>
export default {
  name: 'MyHeader'
}
</script>

<style lang="scss">
header {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    color: darkblue;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.15);
    a {
      color: darkblue;
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
</style>
