<template>
  <main>
    <MyHeader />
    <nuxt class="view" />
  </main>
</template>

<script>
import MyHeader from '~/components/MyHeader'

export default {
  name: 'DefaultLayout',
  components: {
    MyHeader
  }
}
</script>

<style lang="scss">
body {
  background-color: rgba(216, 230, 238, 0.2);
}
main {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 1.25rem 1.25rem;
}
</style>
