<template>
  <div class="container panel">
    <template v-for="(tool, index2) in items">
      <b-tooltip :key="index2" :label="tool.attr">
        <b-button
          :key="index2"
          tag="router-link"
          type="is-primary"
          :to="tool.path"
          size="is-medium"
          :class="{ tool: true }"
          outlined
        >
          {{ tool.name }}
        </b-button>
      </b-tooltip>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      items: [
        {
          name: 'Linux Command',
          attr: 'Linux Command Cheatsheet',
          path: '/linux_command'
        },
        {
          name: 'CRON tool',
          attr: 'CRON tool',
          path: '/crontab'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
a.tool {
  &:hover {
    transform: translateY(-0.125rem);
    box-shadow: 0 0.5rem 1rem 0 rgba(10, 14, 29, 0.04),
      0 0.5rem 4rem 0 rgba(10, 14, 29, 0.08);
    background-color: transparent !important;
    border-color: blue !important;
    color: blue !important;
  }

  position: relative;
  margin: 0.4375rem;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s ease;
  background-color: transparent;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  border-color: darkgray !important;
  color: black !important;
}

div.panel {
  position: relative;
  padding: 1.5625rem 2rem;
  padding-top: 1.5625rem;
  margin-top: 1.125rem;
  margin-bottom: 3.125rem;
  box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, 0.06),
    0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, 0.03);
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
}
</style>
